html {
    scroll-padding-top: 280px;
}

body {
    margin: 0;

}

a {
    color: #4D455D;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bolder;
}

a:last-of-type {
    margin-right: 0;
}

main {
    width: 900px;
    margin: auto;
}

header {
    background-color: rgb(45, 45, 45);
    text-align: center;
    position: fixed;
    top: 0;
    width: 900px;
    z-index: 10000;
}

header h1 {
    padding-top: 40px;
    margin: 0;
    text-shadow: 1px 1px 2px rgb(223, 223, 223);
    font-family: 'Rowdies', cursive;
    font-size: 50px;
    color: rgb(223, 223, 223);
    letter-spacing: 3px;
}

header h2 {
    text-shadow: 1px 1px 2px rgb(223, 223, 223);
    color: rgb(223, 223, 223);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
    letter-spacing: 10px;
}

nav {
    background-color: white;
    padding: 20px 0;
    font-size: 28px;
    border-bottom: 3px solid #4D455D;
}

article {
    position: relative;
    display: flex;
    margin-top: 280px;
    z-index: 1;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Rowdies', cursive;
    font-size: 36px;
    flex: 3;
    font-weight: bold;
    color:  rgb(223, 223, 223);
    
}

blockquote {
    background-color: rgb(45, 45, 45);
    position: relative;
    margin: 20px 40px;
    padding: 40px;
}

blockquote::before {
    content: '“';
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 65px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 4;
    font-size: 18px;
    color: #222;
    line-height: 1.6;
    font-family: 'Josefin Sans', sans-serif; 
}
.description {
    padding: 0 10px;
    margin-bottom: 50px;
    font-weight: ligther;
}
.article {
    padding: 0 10px;
    margin-top: 50px;
    font-weight: bold;
    line-height: 1.4;
}
.head {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}
.title {
    margin-top: 30px;
    font-size: 22px;
}
.subtitle {
    font-family: Merriweather;
    font-size: 15px;
}
.sub {
    margin-top: 30px;
    font-size: 16px;
    font-weight: normal;
}

.footer {
    font-family: 'Josefin Sans', sans-serif; 
    border-top: 3px solid black;
    margin: 50px 0;
    padding-left: 100px;
    padding-top: 50px;
}